.heading {
  text-align: center;
  font-size: 260%;
  background-color: #2dffa4;
  font-family: 'Permanent Marker', cursive;
}

.list {
  text-align: center;
  font-size: 230%;
  font-family: 'Rock Salt', cursive;
  background-color: #30c4ff;
  color: #963aff;
}

a:link {
  color: #a163ff;
}

a:visited {
  color:  #d632ff;
}

a:hover {
  color: hotpink;
}

a:active {
  color: #ff5454;
}
