.heading {
  text-align: center;
  background-color: #42d9ff;
  font-family: 'Comfortaa', cursive;
  font-size: 210%;
}

.about {
  background-color: #c44fff;
  font-family: 'Delius Unicase', cursive;
  font-size: 200%;
}

.link {
  font-family: 'Yesteryear', cursive;
  background-color: #49ff71;
  text-align: center;
  font-size: 300%;
  color: #ff4949;
}

a:link {
  color: #ff5454;
}

a:visited {
  color:  #d632ff;
}

a:hover {
  color: #00ff0c;
}

a:active {
  color: #ff5454;
}
