body {
  margin:0;
}
{
    font-family: 'Chewy', cursive;

    font-family: 'Righteous', cursive;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
    position: fixed;
    top: 0;
    width: 100%;
    font-family: 'Chewy', cursive;
}

li {
    float: left;
    border-right: 4px solid #ff337e;

}

li a {
    display: block;
    color: #ff337e;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 27px;
}

li a:hover:not(.active) {
    background-color: #ffffff;
}

.active {
    background-color: #ffffff;
}

.maintext {
  color: #ffffff;
  position: relative;
  top: 80px;
  left: 40px;
  font-family: 'Chewy', cursive;
  font-size: 40px;
}


.videos {
  position: relative;
  border-style: solid;
  border-width: 5px;
  border-color: #ffffff;
  display: block;
  margin: auto;
}

h3 {
  color: #ffffff;
  padding-left: 20px;
  font-family: 'Chewy', cursive;
  font-size: 25px;
  text-align: center;
}
#conspiracytitle {
  position: relative;
  top: 10px;
  padding-top: 60px;
  text-align: center;
}
#videosbelow {
  text-align: center;
  color: #ffffff;
  position: relative;
  top: 80px;
  left: 10px;
  font-family: 'Chewy', cursive;
  font-size: 40px;
}
