.heading {
  text-align: center;
  background-color: #42d9ff;
  font-family: 'Comfortaa', cursive;
  font-size: 210%;
}

.about {
  background-color: #c44fff;
  font-family: 'Delius Unicase', cursive;
}
